*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #41453B;
    height: 100vh;
}
.card{
    width: 90%;
    max-width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: 50px auto 0;
    padding: 30px;
    max-width: 500px;
    color: #fff;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border-radius: 30px;
    margin-right: 20px;
    padding: 20px;
    flex: 1;
    border: 0;
    outline: 0;
}

.search button{
    border-radius: 50%;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 150px;
    margin-top: 20px;
}

.weather h1{
    font-size: 40px;
}

.weather h2{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weather{
    display: none;
}

.error{
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    font-size: 10px;
    display: none;
}

.heading{
    color: white;
    text-align: center;
    margin-top: 70px;
}